body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

section {
  
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

h1 {
    font-weight: bold;
    margin-top: 0;
    color: white;
}

.card {
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    color: black;
}

.card-title {
    font-weight: bold;
    color: black;
}

.card-text {
    font-size: 16px;
    color: black;
}
